body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    margin-top: 100px;
}

h1 {
    color: #232f3e;
}

button {
    background-color: #ff9900;
    border: none;
    padding: 12px 20px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #e68a00;
}